/*Below is Animation*/

.first-landing {
  width: 100%;
  height: 100%;
  background-image: url(./Images/Homepage-Image.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-delay: 4.5s;
}
.first-landing h1 {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 65px;
  font-weight: 200;
  animation-delay: 1s;
}
.first-landing span {
  animation-delay: 1.25s;
  font-size: 20px;
}
.first-landing h2 {
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  animation-delay: 1.7s;
  font-size: 70px;
  color: white;
}
.first-landing h2 span {
  display: block;
  animation-delay: 2s;
  font-size: 70px;
  color: white;
  position: relative;
  bottom: 25px;
}
.wrapper {
  animation-delay: 4s;
  background-color: white;
  height: 100%;
  width: 100%;
}

/*Above is Animation / Below is Core Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--blue);
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 1.2em;
}
:root {
--blue: rgba(213, 231, 242, 1); 
--green: rgba(111, 140, 81, 1); 
--lightgreen: rgba(191, 184, 174, 1); 
--brown: rgba(115, 75, 61, 1); 
--lightbrown: rgba(191, 132, 111, 1); 
}
h1, h2, h3 {
  padding: 1em 0px;
}
p {
  padding: 1em 0px;
  text-align: justify;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.button {
  display: inline-block;
  padding: .75em 1.75em;
  border-radius: 50px;
  background: none;
  border: 1px solid white;
  background: var(--lightgreen);
  font-size: .75em;
  text-align: center;
}
.button a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: black;
}
.button:hover {
  transform: scale(1.08);
  box-shadow: 0px 1px 0px;
}
.button:active {
  transform: scale(1);
  box-shadow: none;
}

/* End Core Styles / Start Section A */

#section-a .contacts {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section-a .contacts h4:first-child {
  display: none;
}
#section-a .phone-email {
  padding: 0px;
  display: none;
}
#section-a .phone-email p {
  display: none;
}
#section-a .social1 {
  display: flex;
}
#section-a .social1 {
  font-size: 2em;
}
#section-a .social1 a {
  color: black;
}
#section-a .social1 a:hover {
  transform: scale(1.1);
}
#section-a .heading .links {
  display: flex;
  justify-content: space-evenly;
}
#section-a .heading .links a {
  color: var(--lightbrown);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75em;
  margin: 1em 0px;
  border: 1px solid var(--brown);
  padding: .5em;
  border-radius: 50px;
}
#section-a .heading .links a:hover {
  color: white;
  background: var(--brown);
  transform: translateY(-4px);
  box-shadow: 0px 3px 0px 0px var(--lightbrown);
}
#section-a .heading .links a:active {
  transform: translateY(0px);
  box-shadow: none;
}

/* End Section A / Start Section B */

#section-b {
  min-height: 450px;
  text-align: center;
}
#section-b .bg-image {
  position: absolute;
  background: url(./Images/outside.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: .4;
}
#section-b .text-wrap {
  padding: 0px 1em;
}
#section-b .text-wrap h1 {
  font-size: 3em;
}
.text-wrap .button {
  margin-top: 2em;
}

/* End Section B / Start Section C */

#section-c {
  background: var(--blue);
  text-align: center;
}
#section-c .text-wrap {
  padding: 0px 1em;
}
#section-c .text-wrap p {
  text-align: center;
}
#section-c li {
  padding: 1em 1em;
}
#section-c .card {
  background: var(--lightgreen);
}
#section-c .card img {
  border: 1px solid black;
}
#section-c .card-content {
  padding: 1em 1em;
  border: 1px solid black;
}

/* End Section C / Start Section D */

#section-d {
  padding: 1em;
  text-align: center;
}
#section-d .text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-d .text-wrap h2 {
  padding: 1em 0px 0px;
}
#section-d .text-wrap .horizontal-rule {
  width: 100%;
  height: 2px;
  background: var(--brown);
}
#section-d .form-wrap {
  display: flex;
  flex-direction: column;
  background: var(--brown);
  padding: .4em;
}
#section-d h3 {
  color: white;
  opacity: .8;
  padding: 0px;
  background: var(--lightbrown)
}
#section-d label {
  text-align: left;
  color: white;
  opacity: .8;
}
#section-d input {
  width: 225px;
  height: 25px;
}
.form-wrap .button {
  width: 100px;
  margin-top: .5em;
}
#section-d .form-wrap #submit {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid white;
  background: var(--lightbrown);
  font-size: .75em;
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 13px;
  color: black;
  width: 80px;
}

#section-d .form-wrap #submit:hover {
  transform: scale(1.08);
  box-shadow: 0px 1px 0px;
}
#section-d .form-wrap #submit:active {
  transform: scale(1);
  box-shadow: none;
  outline: none;
}

/* End Section D / Start Section E*/

#section-e {
  text-align: center;
  padding: 0px 0px 1em;
  margin: 0;
}
#section-e p {
  padding: 0px;
  margin: 0px;
}
#section-e .phone-email2 a {
  text-decoration: none;
  color: var(--lightgreen);
}
#section-e .phone-email2 a:hover {
  color: var(--green);
  text-shadow: 2px 2px 2px var(--lightgreen);
}
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  color: white;
  background: var(--green);
}

/*End Section E / Start Media Query*/

@media (min-width: 768px) {
  .phone-email2 {
    display: none;
  }
  .contacts {
    background: var(--blue);
  }
  .contacts h4:nth-of-type(2) {
    display: none;
  }

  #section-a .contacts h4:first-child {
    display: block;
  }
  #section-a .phone-email {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    line-height: .75em;
  }
  #section-a .phone-email p {
    display: block;
    padding: 0px;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .heading img {
    width: 390px;
    height: auto;
  }
  #section-a .heading .links {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
  }
  #section-a .phone-email a {
    text-decoration: none;
    color: var(--lightgreen);
  }
  #section-a .phone-email a:hover {
    color: var(--green);
    text-shadow: 2px 2px 2px var(--lightgreen);
  }

  /*End Section A / Start Section B*/

  .grid {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
  }
  #section-b .text-wrap {
    grid-column: 2/4;
  }

/*End Section B / Start Section C*/

  #section-c .text-wrap div {
    grid-column: 2/4;
  }
  #section-c .text-wrap h2 {
    padding: 1em 0px 0px;
  }
  #section-c ul {
    list-style: none;
    padding: 0px 10%;
    display: flex;
    justify-content: space-evenly;
  }
  #section-c ul li {
    width: 350px;
    min-width: 250px;
  }
  #section-c img {
    width: 100%;
  }

/*End Section C / Start Section D*/
   
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 345px 345px 1fr;
    grid-template-rows: 400px 400px;
    grid-gap: 1em;
  }
  #section-d img {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #section-d .text-wrap {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #section-d .form {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
@media (max-width: 415px) {
  #section-a .heading .links a {
    font-size: .65em;
  }
}